/* --- HTML Elements --- */
html {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, div, select, button {
  padding: 0;
  margin: 0; }

body, input {
  color: #dddddd;
  -webkit-font-smoothing: antialiased;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 23px; }

button {
  background-color: rgba(64, 66, 70, 0.75);
  border: solid 1px #222426;
  outline: solid 1px #404246;
  color: #dddddd;
  font-size: 12px;
  padding: 5px 10px; }

.btn-gray:hover {
  background-color: rgba(0, 130, 255, 0.75);
  color: #222426; }

.btn-orange:hover {
  background-color: rgba(255, 130, 25, 0.75);
  color: #222426; }

.btn-green:hover {
  background-color: rgba(107, 255, 25, 0.75);
  color: #222426; }

A, A:hover, A:visited {
  color: #6ab825;
  font-weight: bold;
  text-decoration: none; }

A:hover {
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px; }

.fake-link {
  cursor: pointer; }

/* --- Flex Box Stuff --- */
.flex {
  display: flex; }

.row {
  flex-direction: row; }

.col {
  flex-direction: column; }

.max-h {
  height: 100%; }

.max-w {
  width: 100%; }

.no-shrink {
  flex-shrink: 0; }

.no-grow {
  flex-grow: 0; }

.scroll-h {
  overflow-x: auto;
  overflow-y: hidden; }

.scroll-v {
  overflow-y: auto;
  overflow-x: hidden; }

.space-between {
  justify-content: space-between; }

.space-around {
  justify-content: space-around; }

/* --- Main  --- */
.frame {
  padding: 3px;
  background-color: #404246; }

.nav {
  width: 35px;
  margin-right: 3px;
  align-items: center;
  justify-content: flex-start;
  background-color: #222426; }

.nav-item {
  padding-top: 10px; }

/* --- Tweet Deck Styles --- */
.tweet-column {
  width: 360px;
  max-width: calc(100vw - 44px);
  min-width: 310px;
  margin-right: 3px; }

.tweet-settings-button {
  padding-right: 10px; }

.tweet-settings-button:hover {
  color: rgba(231, 124, 255, 0.75); }

.tweet-settings-visible, .tweet-settings-button:active {
  color: #e77cff; }

.tweet-search-clear:hover {
  color: rgba(255, 255, 25, 0.75); }

.tweet-search-clear:active {
  color: #ffff7c; }

.th-tweet-search {
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #222426; }

.tweet-search-text {
  background-color: rgba(64, 66, 70, 0.75);
  font-size: 16px;
  color: #dddddd;
  outline-style: none;
  border: solid 1px #222426;
  padding: 0 10px; }

.tweet-search-text:focus {
  outline: solid 1px #222426;
  border: solid 1px #ffff7c;
  background-color: #404246; }

.tweet-search-clear {
  padding-left: 10px; }

.highlighted {
  background: rgba(255, 255, 124, 0.75);
  color: #222426; }

.th-hacky-hack {
  margin: 10px 0; }

.th-tweet-config {
  background-color: #222426;
  padding: 0 10px;
  margin-top: 3px; }

.th-listen {
  margin-right: 10px; }

.th-add-listen {
  text-align: center;
  padding: 5px 0; }

.th-config-buttons {
  margin-top: 10px; }

.th-config-arrows {
  align-items: center; }

.th-config-arrow {
  padding: 5px; }

.th-config-actions {
  justify-content: flex-end; }

.tweets {
  margin-top: 3px; }

.th-tweet {
  background-color: #222426;
  padding: 5px 10px;
  margin-bottom: 3px; }

.tweet-user {
  border-bottom: solid rgba(221, 221, 221, 0.5) 1px;
  margin-bottom: 5px; }

.tweet-user-name {
  font-weight: bolder; }

.tweet-screen-name {
  font-size: 75%;
  color: #e77cff; }

.tweet-profile {
  margin: 5px 10px 5px 0; }

.tweet-profile-image {
  border-radius: 6px;
  width: 40px;
  height: 40px; }

.th-tweet:last-child {
  margin-bottom: 0px; }

.tweet-text {
  word-break: break-word;
  line-height: 20px;
  min-height: 40px; }

.tweet-created-at {
  font-size: 75%;
  color: #7ce2ff; }
