// Colour set up

$c_face: rgb(34,36,38);
$c_back: rgb(064,066,070);
$c_text: rgb(221,221,221);

$test: 6px;

$c_red: rgb(255,124,124);
$c_purple: rgb(231,124,255);
$c_yellow: rgb(255,255,124);
$c_cyan: rgb(124,226,255);
$c_green: rgb(106,184,37);

$c_palered: rgba(255,124,124,0.75);
$c_palepurple: rgba(231,124,255,0.75);
$c_paleyellow: rgba(255,255,124,0.75);
$c_palecyan: rgba(124,226,255,0.75);
$c_palegreen: rgba(106,184,37,0.75);

/* --- HTML Elements --- */

html {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body, div, select {
  padding: 0;
  margin: 0;
}

body, input {
  color: rgb(221, 221, 221);
  -webkit-font-smoothing: antialiased;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 23px;
}

BUTTON {
  margin: 3px;
  font-size: 16px;
  width: 75px;
  height: 25px;
  color: #ddd;
  background-color: rgba(64, 66, 70, 0.5);
  border-radius: 4px;
  outline: none;
  text-shadow: 1px -1px 2px #000;
  border: solid 1px rgba(221,221,221, 0.1);
}

BUTTON.hover {
  box-shadow: 0 5px 21px 0 rgba(0, 0, 0, 1);
  transition: all 0.2s ease-in 0s;
}

.btn-small {
  width: 35px;
  border-radius: 18px;
}

.btn-gray {
  background-color: rgba(64, 66, 70, 0.5);
}

.btn-gray .hover {
  background-color: rgb(64, 66, 70);
}

.btn-red {
  background-color: rgba(120, 66, 70, 0.5);
}

.btn-red .hover {
  background-color: rgb(120, 66, 70);
}

.btn-green {
  background-color: rgba(64, 126, 70, 0.5)
}

.btn-green .hover {
  background-color: rgb(64, 126, 70)
}

.btn-blue {
  background-color: rgba(64, 66, 130, 0.5);
}

.btn-blue .hover {
  background-color: rgb(64, 66, 130);
}

BUTTON:active {
  box-shadow: inset 0 0 15px 0 rgba(255, 255, 255, 0.3);
}

A, A:hover, A:visited {
  color: $c_green;
  font-weight: bold;
  text-decoration: none;
}

A:hover {
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.fake-link {
  cursor: pointer;
}


/* --- Flex Box Stuff --- */

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.max-h {
  height: 100%;
}

.max-w {
  width: 100%;
}

.no-shrink {
  flex-shrink: 0;
}

.no-grow {
  flex-grow: 0;
}

.scroll-h {
  overflow-x: auto;
  overflow-y: hidden;
}

.scroll-v {
  overflow-y: auto;
  overflow-x: hidden;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

/* --- Main  --- */

.frame {
  padding: 3px;
  background-color: rgb(64,66,70)
}

.nav {
  width: 35px;
  margin-right: 3px;
  align-items: center;
  justify-content: flex-start;
  background-color: $c_face;
}

.nav-item {
  padding-top: 10px;
}


/* --- Tweet Deck Styles --- */

.tweet-column {
  width: 360px;
  max-width: calc(100vw - 44px);
  min-width: 310px;
  margin-right: 3px;
}

.tweet-settings-button {
  padding-right: 10px;
}

.tweet-settings-button:hover {
  color: $c_palepurple;
}

.tweet-settings-visible, .tweet-settings-button:active {
  color: $c_purple;
}

.tweet-search-clear:hover {
  color: rgba(255, 255, 25, 0.75)
}

.tweet-search-clear:active {
  color: $c_yellow;
}

.th-tweet-search {
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: rgb(34,36,38)
}

.tweet-search-text {
  background-color: rgba(64,66,70, 0.75);
  font-size: 16px;
  color: rgb(221, 221, 221);
  outline-style: none;
  border: solid 1px rgb(34,36,38);
  padding: 0 10px;
}

.tweet-search-text:focus {
  outline: solid 1px rgb(34,36,38);
  border: solid 1px $c_yellow;
  background-color: rgba(64,66,70, 1)
}

.tweet-search-clear{
  padding-left: 10px;
}

.highlighted {
  background: $c_paleyellow;
  color: rgb(34,36,38);
}

.th-hacky-hack {
  margin: 10px 0;
}

.th-tweet-config {
  background-color: $c_face;
  padding: 0 10px;
  margin-top: 3px;
}

.th-listen {
  margin-right: 10px;
}

.th-add-listen {
  text-align: center;
  padding: 5px 0;
}

.th-config-buttons {
  margin-top: 10px;
} 

.th-config-arrows {
  align-items: center;
}

.th-config-actions {
  justify-content: flex-end;
}

.tweets {
  margin-top: 3px;
}

.th-tweet {
  background-color: $c_face;
  padding: 5px 10px;
  margin-bottom: 3px;
}

.tweet-user {
  border-bottom: solid rgba(221, 221, 221, 0.5) 1px;
  margin-bottom: 5px;
}

.tweet-user-name {
  font-weight: bolder;
  
}

.tweet-screen-name {
  font-size: 75%;
  color: $c_purple;
}

.tweet-profile {
  margin: 5px 10px 5px 0;
}

.tweet-profile-image {
  border-radius: 6px;
  width: 40px;
  height: 40px;
}

.th-tweet:last-child {
  margin-bottom: 0px;
}

.tweet-text {
  word-break: break-word;
  line-height: 20px;
  min-height: 40px;
}

.tweet-created-at {
  font-size: 75%;
  color: $c_cyan;
}