<div class="menu-bar">
  <div class="menu-buttons">
    <div class="menu-button" data-ng-click="newColumn()" title="New Column"><i class="fa fa-lg fa-plus-square"></i></div>
    <div class="menu-button" data-go-there="/logout" title="Log Out"><i class="fa fa-lg fa-sign-out"></i></div>
  </div>
</div>