<div class="flex col max-h no-shrink">
  <i class="nav-item fa fa-lg fa-plus-square fake-link" data-ng-click="newColumn()"></i>
  <% if(user.admin==true) { %>
    <i class="nav-item fa fa-lg fa-users fake-link" th-frame-link="/admin/user-admin"></i>
  <% } %>
</div>