<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Teal Hawk - Register</title>
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="/login-style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js"></script>
</head>

<body data-ng-app="regApp">
  <div class="th-container" data-ng-controller="regController">
    <h1>Teal Hawk</h1>
    <div class="th-text">
      {{!registered ? 'Waiting for approval' : 'Loading...'}}
    </div>
  </div>

<script>
  angular.module('regApp', []).controller('regController', function ($scope, $http, $interval) {
    function askIfRegistered() {
      $http.get('/registered').then(function(res) {
        $scope.registered = res.data.registered;
        if($scope.registered) {
          window.location.href = '/';
        }
      }, function(res) {
        console.log('You appear not to be logged in'); // some nice modal message please
        window.location.href = '/';
      })
    }
    $scope.registered = false;
    askIfRegistered();
    $interval(function () {
      askIfRegistered();
    }, 2000);
  });
</script>

</body>
</html>
