<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Teal Hawk - Register</title>
  <link rel="stylesheet" href="/login-style.css">
</head>

<body>
  <div class="th-container">
    <h1>Teal Hawk</h1>
    <div class="th-text">
      Please wait for the administrater to approve your request
    </div>
    <a class="btn btn-lg btn-primary" href="/login/twitter" role="button">
      Sign In <i class="fa fa-twitter"></i>
    </a>
  </div>
</body>
</html>
