<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Teal Hawk - Register</title>
  <link rel="stylesheet" href="/login-style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js"></script>
</head>

<body data-ng-app="regApp">
  <div class="th-container" data-ng-controller="regController">
    <h1>Teal Hawk</h1>
    <div class="th-text">
      Please wait for the administrater to approve your request
    </div>
    <!-- Spinner -->
  </div>

<script>
  // regApp = angular.module('regApp', []).constant('userid', '<%=user.user_id%>')
  angular.module('regApp', []).controller('regController', function ($http, $interval) {
    userid = '<%=user.user_id%>';
    $interval(function () {
      $http.get('/registered?userid=' + userid).success(function(res) {
        if(res[0].registered) {
          console.log('registered');
          window.location.href = '/login/twitter';
        }
      })
    }, 2000);
  });
</script>

</body>
</html>
