/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: rgb(221, 221, 221);
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #404246;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: rgb(221, 221, 221);
  border: 1px solid rgb(221, 221, 221);
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #404246;
  color: rgb(221, 221, 221);
  text-align: center;
}

div, p {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  background-color: #404246;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.jumbotron {
  color: rgb(221, 221, 221) !important;
  background-color: #222426 !important;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .cover-container {
    width: 700px;
  }
}