HTML, BODY {
  -webkit-font-smoothing: antialiased;
  padding: 0px;
  margin: 0px;
  background-color: #404246;
  overflow: hidden;
}
DIV, SPAN, IMG {
  border: 0px;
  border-style: none;
  padding: 0px;
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}
BODY {
  height: 0px;
  font-size: 0px;
  overflow: hidden;
}
BUTTON {
  color: rgb(221, 221, 221);
  background-color: #404246;
  border-width: 0px;
  vertical-align: middle;
}
.menu-bar {
  position: absolute;
  display: block;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 68px;
  margin: 2px;
  background: #222426;
  text-align: center;
}
.menu-user-image {
  border-radius: 22px;
}
.highlighted {
  background:#cca300;
  color: #222426;
}
.main {
  display: block;
  white-space: nowrap;
  position: absolute;
  left: 72px;
  right: 0px;
  height: calc(100vh - 2px);
}
.column-holder {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background: #222426;
}

.tweets {
  display: inline-block;
  position: relative;
  height: calc(100% - 6px);
  overflow: scroll;
  overflow-x: hidden;
  width: 375px;
  max-width: calc(100vw - 76px);
  background-color: #404246;
  padding: 2px;
  padding-left: 0px;
  margin-right: 2px;
  -webkit-overflow-scrolling: touch;
}
.tweet {
  padding: 0px;
  margin-bottom: 3px;
  width: 100%;
  color: rgb(221, 221, 221);
  background-color: #222426;
  white-space: nowrap;
}

.tweet-left-column {
  display: inline-block;
  white-space: normal;
  text-align: center;
  vertical-align: top;
}
.profile-image {
  text-align: center;
  margin: 5px 10px 0px 10px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.tweet-right-column {
  display: inline-block;
  white-space: normal;
  width: 290px;
  max-width: calc(100vw - 160px);
}

.tweet-user {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  white-space: nowrap;
  height: 23px;
  line-height: 23px;
  padding-left: 3px;
  padding-right: 3px;
} 

.tweet-user-name {
  float: left;
  line-height: 23px;
  height: 23px;
  vertical-align: top;
  font-weight: bold;
}

.tweet-user-screenname {
  color: #BE67D2;
  display: inline-block;
  float: right;
  text-align: right;
  line-height: inherit;
  height: inherit;
  vertical-align: top;
  font-size: 75%;
  font-weight: bold;
}

.tweet-text {
  text-align: left;
  padding-left: 3px;
  padding-right: 3px;
}

.tweet-media {
  padding-left: 3px;
  padding-right: 3px;
}
.quoted-tweet {
  text-align: justify;
  margin-top: 5px;
  border-style: dashed;
  border-width: 1px 0px 1px 0px;
  border-color: #cca300;
  background-color: rgba(204, 163, 0, 0.1);
  padding: 3px;
}
.quoted-tweet-user-screenname {
  font-weight: bold;
}

.tweet-media-image {
  display: inline-block;
  max-width: 70px;
  padding: 3px 6px 0px 0px;
}

.tweet-meta {
  padding-left: 3px;
  padding-right: 3px;
}

.tweet-id {
  display: none;
}

.tweet-created-at {
  color: rgb(0,192,247);
  font-size: 75%;
  vertical-align: middle;
  line-height: 20px;
}
DIV.search-tweets {
  position: relative;
  background-color: #222426;
  height: 35px; 
  color: rgb(221, 221, 221);
  margin-bottom: 3px;
  margin-top: 0px;
}
INPUT.search-tweets, BUTTON.search-tweets {
  height: 25px; 
  margin: 0px;
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
  outline-width: 0px;
  border-width: 0px;
  width: calc(375px - 98px);
  max-width: calc(100vw - 174px);
  font-size: 16px;
  vertical-align: middle;
}
BUTTON.search-tweets{
  width: 50px;
}
.filtered-count {
  float: right;
  padding-right: 20px;
  line-height: 30px;
}
.tweet.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}
.tweet.ng-enter.ng-enter-active {
  opacity:1;
}
A, A:hover, A:visited {
  color: #6AB825;
  font-weight: bold;
  text-decoration: none;
}
A:hover {
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
A.tweet-media-image:hover {
  text-decoration: none;
  border-style: none;
}