<div class="add-tweet-column">
  <div class="add-column-title" data-ng-show="!column.isNew">Edit Column</div>
  <div class="add-column-title" data-ng-show="column.isNew">Add Column</div>
  <div class="add-column-column-holder">
    <div class="add-column-column ">
        <div class="">Tweets</div>
        <div ng-repeat="from in froms" class="">
          <select class="listen-users" name="tweets" data-ng-model="from.user">
            <option value=""></option>
            <option data-ng-repeat="user in listen_users" value="{{user.id_str}}">{{user.screen_name}}</option>
          </select>
          <span class="del-listen-user" data-ng-click="delFrom($index)"><i class="fa fa-times"></i></span>
        </div>
        <div class="add-listen-user"><span data-ng-click="addFrom()"><i class="fa fa-plus"></i></span></div>
      </div>
      
      <div class="add-column-column">
        <div class="">Mentions</div>
        <div data-ng-repeat="to in tos" class="">
          <select class="listen-users" name="mentions" data-ng-model="to.user">
            <option value=""></option>
            <option data-ng-repeat="user in listen_users" value="{{user.id_str}}">{{user.screen_name}}</option>
          </select>
          <span class="del-listen-user" data-ng-click="delTo($index)"><i class="fa fa-times"></i></span>
        </div>
        <div class="add-listen-user"><span data-ng-click="addTo()"><i class="fa fa-plus"></i></span></div>
      </div>
  </div>
  <div class="move-column-buttons" data-ng-show="!column.isNew">
    <button data-ng-click="moveColumnLeft()"><i class="fa fa-arrow-left"></i></button>
    <button data-ng-click="moveColumnRight()"><i class="fa fa-arrow-right"></i></button>
  </div>
  <div class="add-column-buttons">
    <button data-ng-click="delColumn()" data-ng-show="!column.isNew">Delete</button>
    <button data-ng-click="toggleSettings()" data-ng-show="!column.isNew">Cancel</button>
    <button data-ng-click="delColumn()" data-ng-show="column.isNew">Cancel</button>
    <button data-ng-click="addColumn()" data-ng-show="column.isNew">Add</button>
    <button data-ng-click="updateColumn()" data-ng-show="!column.isNew">Update</button>
  </div>
</div>