<div data-ng-class="{'th-tweet-config-visible':settingsVisible}">
  <div class="th-hacky-hack max-h">
    <div class="" data-ng-show="!column.isNew">Edit Column</div>
    <div class="" data-ng-show="column.isNew">Add Column</div>
    
    <div class="flex row max-w space-around">
      <div class="flex col">
        <div class="">Tweets</div>
        <div ng-repeat="from in froms" class="">
          <select class="th-listen" name="tweets" data-ng-model="from.user">
            <option value=""></option>
            <option data-ng-repeat="user in listen_users" value="{{user.id_str}}">{{user.screen_name}}</option>
          </select>
          <i class="fa fa-times fake-link" data-ng-click="delFrom($index)"></i>
        </div>
        <div class="th-add-listen"><i class="fa fa-plus fake-link" data-ng-click="addFrom()"></i></div>
      </div>
        
      <div class="flex col">
        <div class="">Mentions</div>
        <div data-ng-repeat="to in tos" class="">
          <select class="th-listen" name="mentions" data-ng-model="to.user">
            <option value=""></option>
            <option data-ng-repeat="user in listen_users" value="{{user.id_str}}">{{user.screen_name}}</option>
          </select>
          <i class="fa fa-times fake-link" data-ng-click="delTo($index)"></i>
        </div>
        <div class="th-add-listen"><i class="fa fa-plus fake-link" data-ng-click="addTo()"></i></div>
      </div>
    </div>
    
    <div class="flex row max-w space-between th-config-buttons">
      <div class="flex row noshrink th-config-arrows" data-ng-show="!column.isNew">
        <button th-hover class="btn-small btn-gray th-config-arrow" data-ng-click="moveColumnLeft()"><i class="fa fa-arrow-left"></i></button>
        <button th-hover class="btn-small btn-gray th-config-arrow" data-ng-click="moveColumnRight()"><i class="fa fa-arrow-right"></i></button>
      </div>
      
      <div class="flex row max-w th-config-actions">
        <button th-hover class="btn-red btn-small" data-ng-click="delColumn()" data-ng-show="!column.isNew"><i class="fa fa-trash"></i></button>
        <button th-hover class="btn-blue btn-small" data-ng-click="toggleSettings()" data-ng-show="!column.isNew"><i class="fa fa-close"></i></button>
        <button th-hover class="btn-red btn-small" data-ng-click="delColumn()" data-ng-show="column.isNew"><i class="fa fa-trash"></i></button>
        <button th-hover class="btn-green btn-small" data-ng-click="addColumn()" data-ng-show="column.isNew"><i class="fa fa-check"></i></button>
        <button th-hover class="btn-green btn-small" data-ng-click="updateColumn()" data-ng-show="!column.isNew"><i class="fa fa-check"></i></button>
      </div>
    </div>
  </div>
</div>