<div class="tweets" data-scroll-bottom="showMore()">
  <div class="search-tweets">
    <span class="column-settings-button" data-ng-click="toggleSettings()"><i class="fa fa-lg fa-bars" data-ng-class="{'cog-selected': settingsVisible}"></i></span>
    <input data-ng-model="search.text" type="text" class="search-tweets" placeholder="Search" data-scroll-top>
    <button data-ng-click="search={}" class="search-tweets" data-focus-input>Clear</button>
  </div>
  <div data-tweet-column-settings data-ng-show="settingsVisible"></div>
  <div class="tweet" data-ng-repeat="tweet in tweets|filter:search as filteredtweets track by $index">
    <div class="tweet-left-column">
      <img class="profile-image" src="#" alt="{{'Profile Image for '+tweet.user.screen_name}}" data-ng-src="{{tweet.user.profile_image_url_https}}">
    </div>
    <div class="tweet-right-column">
      <div class="tweet-user">
        <span class="tweet-user-name" data-ng-bind="tweet.user.name"></span>
        <span class="tweet-user-screenname" data-ng-bind="tweet.user.screen_name"></span>
      </div>
      <div class="tweet-text" data-ng-bind-html="tweet.text|linkyUnsanitized|tweetLinky|highlight:search.text|trustHTML"></div>
      <div class="quoted-tweet" data-ng-if="tweet.is_quote_status">
        <div class="quoted-tweet-user-screenname">{{'@' + tweet.quoted_status.user.screen_name}}</div>
        <div data-ng-bind-html="tweet.quoted_status.text|linkyUnsanitized|tweetLinky|highlight:search.text|trustHTML"></div>
        <a href="#" data-ng-href="{{media.media_url_https}}" class="tweet-media-image" target="_blank" data-ng-repeat="media in tweet.quoted_status.extended_entities.media|filter:{type: photo}">
          <img class="tweet-media-image" src="#" alt="{{'Tweet media id '+media.id_str}}" data-ng-src="{{media.media_url_https + ':thumb'}}">
        </a>
      </div>
      <div class="tweet-media">
        <a href="#" data-ng-href="{{media.media_url_https}}" class="tweet-media-image" target="_blank" data-ng-repeat="media in tweet.extended_entities.media|filter:{type: photo}">
          <img class="tweet-media-image" src="#"  alt="{{'Tweet media id '+media.id_str}}" data-ng-src="{{media.media_url_https + ':thumb'}}">
        </a>
      </div>
      <div class="tweet-meta">
        <span class="tweet-id" data-ng-bind="tweet.id_str"></span>
        <span class="tweet-created-at" title="{{tweet.created_at}}" data-am-time-ago="tweet.created_at"></span>
      </div>
    </div>
  </div>
</div>
