<!DOCTYPE html>
<html data-ng-app="thAdmin">
  <head>
    <!-- Browser set up -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes, minimal-ui">
    <title>TealHawk - UserAdmin</title>

    <!-- Styles -->
    <link href="/style.css" rel="stylesheet" type="text/css">

    <!-- Angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js"></script>
    
    <!-- underscore, underscore-query and Socket.IO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="/bower_components/underscore-query/lib/underscore-query.min.js"></script>

    <!-- teal-hawk Scripts -->
    <script src="admin.js"></script>
  </head>

  <body data-ng-controller="thUserAdmin" data-ng-init="init = init()">
    <div class="admin-userlist" data-ng-repeat="user in waitingAuth">
      <div>{{user.tRAW._json.name}}</div>
      <div>{{user.tRAW._json.screen_name}}</div>
      <div>{{user.tRAW._json.description}}</div>
      <div>Location: {{user.tRAW._json.location}}</div>
      <div>Joined twitter on {{user.tRAW._json.created_at}}</div>
      <img data-ng-src="{{user.tRAW._json.profile_image_url_https}}" title="{{user.twitter_id}}">
      <div>
        <button class="btn-green" data-ng-click="authUser(user.twitter_id)">Auth</button>
        <button class="btn-red" data-ng-click="delUser(user.twitter_id)">Delete</button>
      </div>
    </div>
  </body>
</html>